<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Self Service Order</title>
</head>

<body>

    <main id="app">

        <section class="items">

            <h4>Selecione os produtos</h4>
            <div class="product" v-for="prod in products" @click="prod.active = !prod.active" :class="{selected :  prod.active}">
                <div class="photo">
                    <img :src='prod.photo'>
                </div>
                <div class="description">
                    <span class="name">{{prod.name}}</span>
                    <span class="price">$ {{prod.price}}</span>
                    <div class="quantity-area">
                        <button @click.stop="prod.quantity--" :disabled="prod.quantity <= 1">-</button>
                        <span class="quantity">{{prod.quantity}}</span>
                        <button @click.stop="prod.quantity++">+</button>
                    </div>
                </div>
            </div>

        </section>

        <section class="summary">
            <strong>Resumo do pedido</strong>
            <table>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="product in products">
                        <template v-if="product.active">
                            <td>{{product.quantity + 'x ' + product.name }}</td>
                            <td>{{ '$ ' + (product.quantity * product.price).toFixed(2)}}</td>

                        </template>
                    </tr>

                    <tr>
                        <th>Total</th>
                        <th>{{total()}}</th>
                    </tr>
                </tbody>
            </table>
        </section>

    </main>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="scripts.js"></script>
</body>

</html>